Flask_BabelEx
Flask_Login
setuptools
flask-paginate
Flask
Flask_Bcrypt
Flask_SQLAlchemy
Flask_WTF
Flask_Security
Flask-Migrate
mysqlclient
onetimepass
openpyxl
pandas
WTForms
requests
SQLAlchemy
speaklater
werkzeug==2.0.0
xlrd
xlwt
matplotlib
email_validator