{% extends "home/base.html" %}
{% from "macros.html" import render_field %}

{% block title %} Home Page {% endblock title %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    select , input{
        border: none;
        padding: 0 0.5em 0.5em 0;
        margin: 0 10px 10px 0;
        width: 100%;
        cursor: inherit;
    }
    .important { color: #336699; }
    .new-experiment a {
        margin:5px;
    }
    #continueExperimentModal button , #continueExperimentModal input{
        margin:5px;
    }
    .loadingIcon, .uploadedIcon, .errorMessages{
        padding:10px;
        margin:10px;
        display: none;
    }
  </style>
{% endblock head %}

{% block home_body %}

<div class="container">
    <!-- <h5> Home > My Experiments</h5> -->
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#myExperiments">{{('My Experiments')}}</a></li>
        <li><a data-toggle="tab" href="#experimentsToAnnotate">{{('Experiments to Annotate')}}</a></li>
        <!-- {% if (is_admin == 1) %}
            <li><a data-toggle="tab" href="#othersExperiments">{{('Others Experiments')}}</a></li>
        {% endif %} -->
    </ul>
    <br>
</div>

<div class="container">

  <div class="tab-content">
    <div id="myExperiments" class="tab-pane fade in active">
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{('Name')}}</th>
                        <th>{{('Description')}}</th>
                        <th>{{('Type')}}</th>
                        <th>{{('Creation Date')}}</th>
                        <th>{{('Status')}}</th>
                        <th>{{('Delete Project')}}</th>
                        <th>{{('Display Order')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experiment in myExperiments %}
                        {%- set experiment_url = url_for('add_experiment.index', experimentId = experiment.id, page = '1') %}

                        <tr>
                            <td onClick="document.location.href='{{ experiment_url }}';">{{experiment.name}}</td>
                            <td onClick="document.location.href='{{ experiment_url }}';">{{experiment.description}}</td>
                            <td onClick="document.location.href='{{ experiment_url }}';" style="text-transform:capitalize;">{{experiment.category}}</td>
                            <td onClick="document.location.href='{{ experiment_url }}';">{{experiment.created_at | datetimeformat('%d-%m-%Y')}}</td>
                            {%- if (experiment.status == 'Completed') -%}
                                <td style="color: green;" onClick="document.location.href='{{ experiment_url }}';"> {{experiment.status}}</td>
                            {%- endif -%}
                            {%- if (experiment.status == 'In Progress') -%}
                                <td style="color: blue;" onClick="document.location.href='{{ experiment_url }}';"> {{experiment.status}}</td>
                            {%- endif -%}
                            <td class="">
                                <a  value="{{ experiment.id }}" onclick="setExperimentId({{experiment.id}});">
                                    <span class="deleteOwnerButton pull-right glyphicon glyphicon-trash btn-space"
                                        data-toggle="modal" data-target="#deleteProjectModal" style="margin-right:80%"></span>
                                </a>
                            </td>
                            <td>
                                {%- if (experiment.displayType == 'fcfs') -%}
                                    Normal
                                {%- else -%}
                                    Random
                                {%- endif-%}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
    <div id="experimentsToAnnotate" class="tab-pane fade">
      <div>
          <table class="table table-hover table-striped">
              <thead>
                  <tr>
                      <th>{{('Name')}}</th>
                      <th>{{('Description')}}</th>
                      <th>{{('Type')}}</th>
                      <th>{{('Creation Date')}}</th>
                      <th>{{('Status')}}</th>
                      <th>{{('Display Order')}}</th>
                  </tr>
              </thead>
              <tbody>
                  {% for experiment in experimentsToAnnotate %}
                      {% if experiment.category != 'elan'%}
                      {%- set experiment_url = url_for('annotate_experiment.index', experimentId = experiment.id) %}
                      {% else %}
                      {%- set experiment_url = url_for('elan.index', experimentId = experiment.id) %}
                      {% endif %}
                      <tr class='clickable-row'
                          data-href="{{ experiment_url }}">
                          <td>{{experiment.name}}</td>
                          <td>{{experiment.description}}</td>
                          <td>{{experiment.category}}</td>
                          <td>{{experiment.created_at | datetimeformat('%d-%m-%Y')}}</td>
                          {%- if (experiment.status == 'Completed') -%}
                            <td style="color: green;"> {{experiment.status}}</td>
                          {%- endif -%}
                          {%- if (experiment.status == 'In Progress') -%}
                            <td style="color: blue;"> {{experiment.status}} </td>
                          {%- endif -%}
                          <td>
                            {%- if (experiment.displayType == 'fcfs') -%}
                                Normal
                            {%- else -%}
                                Random
                            {%- endif-%}
                          </td>
                      </tr>
                  {% endfor %}

              </tbody>
          </table>
      </div>

    </div>

    <div id="othersExperiments" class="tab-pane fade">
        <div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>{{('Name')}}</th>
                        <th>{{('Description')}}</th>
                        <th>{{('Type')}}</th>
                        <th>{{('Creation Date')}}</th>
                        <th>{{('Status')}}</th>
                        <th>{{('Delete Project')}}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for experiment in othersExperiments %}
                        {%- set experiment_url = url_for('add_experiment.index', experimentId = experiment.id, page = 1) %}

                        <tr>
                            <td onClick="document.location.href='{{ experiment_url }}';">{{experiment.name}}</td>
                            <td onClick="document.location.href='{{ experiment_url }}';">{{experiment.description}}</td>
                            <td onClick="document.location.href='{{ experiment_url }}';" style="text-transform:capitalize;">{{experiment.category}}</td>
                            <td onClick="document.location.href='{{ experiment_url }}';">{{experiment.created_at | datetimeformat('%d-%m-%Y')}}</td>
                            {%- if (experiment.status == 'Completed') -%}
                                <td style="color: green;" onClick="document.location.href='{{ experiment_url }}';"> {{experiment.status}}</td>
                            {%- endif -%}
                            {%- if (experiment.status == 'In Progress') -%}
                                <td style="color: blue;" onClick="document.location.href='{{ experiment_url }}';"> {{experiment.status}}</td>
                            {%- endif -%}
                            <td class="">
                                <a  value="{{ experiment.id }}" onclick="setExperimentId({{experiment.id}});">
                                    <span class="deleteOwnerButton pull-right glyphicon glyphicon-trash btn-space"
                                        data-toggle="modal" data-target="#deleteProjectModal" style="margin-right:80%"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
  </div>

</div>

{%- if current_user.is_experimenter() -%}
    <div class="container new-experiment">
      <a data-toggle="modal" data-target="#experimentDetailsId" class="btn btn-primary pull-right">
          Add Experiment
      </a>
      <a data-toggle="modal" data-target="#continueExperimentModal" class="btn btn-primary pull-right">
          Continue Experiment
      </a>
    </div>
{%- endif -%}

<!-- Add Experiment Modal -->
<div class="modal fade" id="experimentDetailsId" role="dialog" tabindex="-1"
    aria-labelledby="experimentDetailsId" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Experiment Details</h4>
      </div>
        <div class="modal-body">
            <form method="POST" name="experimentDetails" action = "{{ url_for('home.addExperiment') }}">
                {% for field in addExperimentForm %}
                    {% if field.widget.input_type == 'hidden' %}
                    {{ field() }}
                    {% else %}
                    <div style="line-height:110%">{{ render_field(field, autofocus=True, placeholder=field.label.text) }}</div>
                    {% endif %}
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" name="submit" value="experimentDetails" class="btn btn-primary"> {{ ('Add Experiment') }}</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>


<!-- Continue Experiment Modal -->
<div class="modal fade" id="continueExperimentModal" role="dialog" tabindex="-1"
    aria-labelledby="continueExperimentModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Re-upload Experiment Details</h4>
      </div>
        <div class="modal-body">
            <div class="errorMessages">
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                    <span class="error" id="errorText"></span>
                </div>
            </div>
            <form enctype="multipart/form-data" method="post">
                <label for="name">Enter new experiment name:</label>
                <input name="continueExperimentName" id="continueExperimentName" value="" placeholder="Experiment Name">
                
                <label for="description">Enter new experiment description:</label>
                <input name="continueExperimentDescription" id="continueExperimentDescription" value="" placeholder="Experiment Description">
                
                <label for="experiments">Choose the experiment being continued:</label>
                <select name="experiments" id="experimentIdSelector">
                {% for experiment in myExperiments %}
                <option value={{experiment.id}}>{{experiment.name}}</option>
                {% endfor %}
                </select> 
                
                <div class="loadingIcon" align="center">
                    <img src="{{url_for('static', filename = 'img/uploading.gif')}}" width=50 height=50>
                </div>
                
                <label for="experiments">Select the results of the experiement to be continued (wide format):</label>
                <div class="uploadedIcon" align="center">
                    <img src="{{url_for('static', filename = 'img/uploadComplete.jpeg')}}" width=50 height=50>
                </div>
                <div>
                    <input type="file" id="experimentResultsFile" class="btn btn-primary btn-group btn-group btn-group-inline btn-space">
                    <button type="button" id="continueExperimentUpload" class="btn btn-primary btn-group btn-group-inline btn-space">
                        <span class="glyphicon glyphicon-upload"></span>
                        Start Upload
                    </button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>

<!-- Delete-Project-Modal -->
<div class="modal fade" id="deleteProjectModal" role="dialog" tabindex="-1"
    aria-labelledby="deleteProjectModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong>Want to delete this Project? </strong><br><b>Note: </b>once deleted the project can not be recovered by any means.</h4>
      </div>
        <div class="modal-body">
            <form method="POST" id="deleteProjectForm" name="deleteProjectForm">
                <div class="form-actions">
                    <button type="submit" class="btn btn-danger"> {{ ('Delete') }}</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    var ExperimentId = -1;
    
    function setExperimentId(id){
        ExperimentId = id;
    };

    $(window).on('load',function(){
        var errors = "{{errors}}";

        if( "{{ errors }}" == "addExperimentErrors") {
            $('#experimentDetailsId').modal('show');
        }

        $(".clickable-row").click(function() {
            window.location.href = $(this).data("href");
        });

    });

    $(function(){
        $('#deleteProjectForm').on('submit', function(e) {
            e.stopImmediatePropagation();
            e.preventDefault();
            var url = "{{ url_for('add_experiment._deleteExperiment')}}";
            var data = {
                'experimentId' : ExperimentId,
            };

            $.getJSON(url , data, function(response) {
                if(response.success) {
                    window.location.replace("{{url_for('home.index')}}");
                } else {
                }
            });
        })
    });
    
    $("#continueExperimentUpload").on("click", function(){
        filesHandler = document.getElementById("experimentResultsFile");
        if (filesHandler.files.length == 0){
            alert("You must select an experiment file (wide format)")
            return;
        }
        let file = filesHandler.files[0];
        let file_ext = file.name.split('.').pop();
        if (file_ext != "xlsx" && file_ext != "xls" && file_ext != "csv"){
            alert("You must select an experiment file (wide format) in .csv or .xlsx")
            return;
        }
        let formData = new FormData();
        formData.append("file", file);
        formData.append("id", +$('#experimentIdSelector').val());
        formData.append("name", $('#continueExperimentName').val());
        formData.append("description", $('#continueExperimentDescription').val());
        $(".loadingIcon").show();
        fetch("{{ url_for('home._continueExperiment')}}", {method: "POST", body: formData})
        .then(res=>res.json())
        .then(res=>{
            if (res.success){
                $('#experimentResultsFile').val("");
                location.reload();
                $(".uploadedIcon").show();
                setTimeout(function(){ $(".uploadedIcon").hide(1000) }, 5000);
                $(".loadingIcon").hide();
            }
            else {
                $(".loadingIcon").hide(2000);
                $("#errorText").text(res.message)
                $(".errorMessages").show();
            }
        });
    });
</script>


{% endblock home_body %}
