.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

/* #message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
} */

.horizontal-line {
    border-top: 1px solid #CCCCCC;
    margin-top: 1em;
}

.scrollable-dropdown {
    overflow:auto;
    max-height: 250px;
}

.fixed-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: #CBC6C6; */
   background-color: #EEE6E6;
   color: white;
   text-align: center;
}

.footer-copyright {
    float: left;
}

.footer-items {
    padding-left: 1em;
    padding-right: 2em;
    font-size: 1.5em;
    text-decoration: none;
    color: #777;
    /* color: #333; */
    /* color: #766666; */
}

.btn-space {
    margin-right: 0.5em;
}

.btn-space-top {
    margin-top: 0.5em;
}

.inline-title {
    margin-right: 0.8em;
}

.edit-button-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapWord {
    word-wrap:break-word;
}

.displayImages {
    height : 5em;
    width : 5em;
}

.alert.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0px;
}

.hidden-element {
    display: none !important;
}

#fileTable {
    table-layout: fixed;
    word-wrap:break-word;
}

.completeIcon {
    height : 1.5em;
    width : 1.5em;
}

.annotationWindow {
    height : 30em;
    width : 25em;
}

.audioAnnotationWindow {
    height : 25em;
    width : 30em;
}

.labelName {
    margin-top: 0px;
}

.labelKeyBindings {
    list-style-type: none;
    padding-left: 0px;
}

.clickable-row {
    cursor: pointer;
}

.choosenFile {
    background-color: #EBED6E !important;
}

.uploadedFileIcon {
    font-size:  2em;
    color:  green;
}

.uploadedFileText {
    color:  green;
}

.pendingFileIcon {
    font-size:  2em;
    color:  #ffcc00;
}

.pendingFileText {
    color:  #ffaa00;
}

#snackbar1 {
    visibility: hidden;
    min-width: 250px;
    margin-left: 340px;
    background-color: rgb(243, 210, 65);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 100px;
    font-size: 15px;
  }
  
  #snackbar1.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar2 {
    visibility: hidden;
    min-width: 250px;
    margin-left: 340px;
    background-color: rgb(107, 219, 97);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 35px;
    font-size: 15px;
  }
  
  #snackbar2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar3 {
    visibility: hidden;
    min-width: 250px;
    margin-left: 300px;
    background-color: rgb(82, 150, 228);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: fixed;
    z-index: 1;
    left: 45%;
    bottom: 35px;
    font-size: 15px;
  }
  
  #snackbar3.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @media screen and (max-width: 700px) {
    #content>.container>div{
        display: block !important;
    }
    div.progress{
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        display: flex !important;
        justify-content: center;
        margin-top: 10%;
    }
  }