body {
  margin: 0;
}

canvas-pointer {
  cursor: pointer;
}


#player {
  margin: 0 auto;
}

.context-menu {
  position: absolute;
  top: 0;
  left: 0;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-width: 1px;
  box-shadow: -1px 3px 13px 1px rgb(0 0 0 / 50%);
  border-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  user-select: none;
  -webkit-user-select: none;
  border-radius: 5px;
}

.context-menu-item {
  cursor: pointer;
  font-size: small;
  padding: 10px;
  border-bottom: 1px solid rgba(93, 93, 93, 0.5);
}

.context-menu>ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.context-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.context-menu-item:last-child {
  border-bottom: none;
}

.context-menu-item:first-child {
  border-top: none;
}

video {
  max-height: 300px;
}

#annotationContent {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 200px;
}

.content-entry {
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  width: 100%;
  padding-bottom: 30px;
}

legend {
  font-size: small;
  margin-bottom: 0;
}

.annotation-form-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.action-btn {
  width: 25%;
  margin-bottom: 10px;
}

#af-delete {
  background-color: #af2727;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  display: none;
  padding: 5px 10px;
  /* font-size: 1em; */
  font-weight: bold;
  cursor: pointer;
}

#af-delete:hover {
  background-color: #d50000;
}

#af-cancel {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  /* font-size: 1em; */
  font-weight: bold;
  cursor: pointer;
}

#af-cancel:hover {
  background-color: #eee;
}

#af-save {
  background-color: #088e40;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px 10px;
  /* font-size: 1em; */
  font-weight: bold;
  cursor: pointer;
}

#af-save:hover {
  background-color: #00e676;
}

input {
  border: 1px solid #000;
  border-radius: 5px;
}

body {
  font-family: 'Segoe UI', 'GeezaPro', 'DejaVu Serif', sans-serif;
}

button {
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  margin: 4px;
}

.nav-button {
  padding: 5px 10px;
  margin: 4px;
}

button:hover {
  background-color: rgb(255, 252, 252);
  border: 1px solid rgb(79, 77, 77);
}

.annotationForm {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row;
  grid-gap: .4em;
  background: rgb(246, 246, 246);
  padding: 1.2em;
  justify-content: center;
  align-items: center;
}

.annotationForm>label {
  grid-column: auto;
  grid-row: auto;
}

.annotationForm>hr {
  grid-column: 1 / span 4;
  grid-row: auto;
}

.annotationForm>div {
  grid-column: 1/span 4;
}

.annotationForm>input,
.annotationForm>textarea {
  grid-column: auto;
  grid-row: auto;
}

.annotationForm>.action-btn {
  grid-column: span 2;
}

.annotationForm>div {
  justify-content: center;
}

hr {
  border: 1px solid rgb(210, 210, 210);
  margin: 0;
  width: 100%;
  grid-column: span 4;
}

@media screen and (max-width: 700px) {
  #annotationContent {
    flex-direction: column;
  }

  #annotationContent>* {
    width: 100%;
    display: block;
  }
}