{% extends "frontpage/base.html" %}
{% from "macros.html" import render_field %}

{% block title %} Rapid Annotator {% endblock title %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}



{% block frontpage_forms %}

<!-- Login Modal -->
<div class="modal fade" id="loginModalId" role="dialog" tabindex="-1"
    aria-labelledby="loginModalId" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Login Credentials</h4>
      </div>

        <div class="modal-body">
            <form method="POST" name="login_form" action = "{{ url_for('frontpage.login') }}">
                {% for field in loginForm %}
                    {% if field.widget.input_type == 'hidden' %}
                    {{ field() }}
                    {% else %}
                    {{ render_field(field, autofocus=True, placeholder=field.label.text) }}
                    {% endif %}
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" name="submit" value="loginCredentials" class="btn btn-primary"> {{ ('Log In') }}</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#forgotPasswordModalId" onclick="hideLoginModal();">Forgot Password?</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<!-- Registration Modal -->
<div class="modal fade" id="registrationModalId" role="dialog" tabindex="-1"
    aria-labelledby="registrationModalId">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{('Enter Your Credentials')}}</h4>
      </div>

        <div class="modal-body">
            <form method="POST" name="registration_form" action = "{{ url_for('frontpage.register') }}">
                    {% for field in registrationForm %}
                    {% if field.widget.input_type == 'hidden' %}
                    {{ field() }}
                    {% else %}
                    {{ render_field(field, autofocus=True, placeholder=field.label.text) }}
                    {% endif %}
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" name="submit" value="registrationCredentials" class="btn btn-primary"> {{ ('Sign up') }}</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<!-- Forgot Password Modal -->
<div class="modal fade" id="forgotPasswordModalId" role="dialog" tabindex="-1"
    aria-labelledby="forgotPasswordModalId" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Details to Update Password</h4>
      </div>

        <div class="modal-body">
            <form method="POST" name="forgotPassword_form" id="forgotPassword_form" action = "{{ url_for('frontpage.forgotPassword') }}">
                {% for field in forgotPasswordForm %}
                    {% if field.widget.input_type == 'hidden' %}
                        {{ field() }}
                    {% else %}
                        {{ render_field(field, autofocus=True, placeholder=field.label.text) }}
                    {% endif %}
                {% endfor %}
                <div class="form-actions">
                    <button type="submit" name="submit" value="forgotPasswordCredentials" class="btn btn-primary"> {{ ('Confirm') }}</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>

<!-- OTP Modal -->
<div class="modal fade" id="otpModalId" role="dialog" tabindex="-1"
    aria-labelledby="otpModalId" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter OTP sent to your Mail</h4>
        <div style="line-height:70%">&nbsp;</div>
        <div class="alert alert-danger alert-dismissible hidden-element otpWarning" 
                style="width: 100%; margin-bottom: 1px; margin-top: 3px; height: 32px; line-height:30px; padding:5px 15px;">
            <div style="line-height:130%; font-size:100%;"><strong> OTP is incorrect! </strong></div>
        </div>
      </div>
        <div class="modal-body">
            <form method="POST" name="otpForm" id="otpForm">
                <b>OTP</b>
                <input type="text" name="otpVal" id="otpVal"
                    class="form-control validate" placeholder="OTP" maxlength="8">
                <span class="help-block"><div style="line-height:110%"></div></span>
                <div class="form-actions">
                    <button type="submit" name="submit" value="otpCredentials" class="btn btn-primary"> {{ ('Submit') }}</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>


<!-- Update Password Modal -->
<div class="modal fade" id="updatePasswordModalId" role="dialog" tabindex="-1"
    aria-labelledby="updatePasswordModalId" aria-hidden="true">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter Password</h4>
      </div>

        <div class="modal-body">
            <form method="POST" name="updatePasswordForm" id="updatePasswordForm">
                <b>Password</b>
                <input type="password" name="password" id="password"
                    class="form-control validate" placeholder="Password" required onkeyup="check();" >
                <span class="help-block"><div style="line-height:110%"></div></span>
                <b>Confirm Password</b>
                <input type="password" name="confirm_password" id="confirm_password"
                    class="form-control validate" placeholder="Confirm Password" onkeyup="check();" required>
                <span class="help-block"><div style="line-height:110%"></div></span>
                <br>
                <div class="message" id='message'></div>         
                <div class="form-actions">
                    <button type="submit" name="submit" value="updatePasswordCredentials" class="btn btn-primary"> {{ ('Update') }}</button>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>


<script type="text/javascript">

    var otpShow = "{{otpShow}}";
    var otpForm = $("#otpForm");
    var updatePasswordForm = $("#updatePasswordForm");
    var email = "";
    
    $(window).on('load',function(){
        var errors = "{{errors}}";

        if( "{{ errors }}" == "LogInErrors") {
            $('#loginModalId').modal('show');
        }

        if( "{{ errors }}" == "registrationErrors") {
            $('#registrationModalId').modal('show');
        }

        if("{{ errors }}" == "forgotPasswordErrors"){
            $('#forgotPasswordModalId').modal('show');
        }

        if("{{ errors }}" == "updatePasswordErrors"){
            $('#updatePasswordModalId').modal('show');
        }

        if(otpShow == 1){
            email = "{{email}}";
            $('#forgotPasswordModalId').modal('hide');
            $('#otpModalId').modal('show');
        }
    });

    function hideLoginModal(){
        $("#loginModalId").modal('hide');
    }

    otpForm.on('submit', function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();
        var otp = otpForm.find('input[name="otpVal"]').val();
        var url = "{{ url_for('frontpage.verifyOTP')}}";
        var data = {
            "otp" : otp,
            "email" : email
        };
        $.getJSON(url , data, function(response) {
            if(response.success){
                $('.otpWarning').addClass('hidden-element');
                $('#forgotPasswordModalId').modal('hide');
                $('#otpModalId').modal('hide');
                $('#updatePasswordModalId').modal('show');
            }
            else{
                $('#otpModalId').modal('show');
                $('.otpWarning').removeClass('hidden-element');
            }
        });
    });

    var check = function() {
        if (document.getElementById('password').value == document.getElementById('confirm_password').value) {
            console.log("fedfdfd");
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
        }else{
            console.log("dedfd");
      	    document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    }

    updatePasswordForm.on('submit', function(e) {
        e.stopImmediatePropagation();
        e.preventDefault();
        var passwd = updatePasswordForm.find('input[name="password"]').val();
        var url = "{{ url_for('frontpage.updatePassword')}}";
        var data = {
            "passwd" : passwd,
            "email" : email
        };
        $.getJSON(url , data, function(response) {
            if(response.success){
                window.location.href = '/frontpage'
            }
            else{
                // Do something
            }
        });
    });

</script>

{% endblock frontpage_forms %}
